<%- include('partials/header') -%>
    <div class="container w-25 mt-2">
        <%- include('partials/messages') -%>
            <h1 class="text-center">Dashboard</h1>
            <br> <br> <br>

            <h1 align="center">Hi 👋, I'm Sanskar </h1>





            <br> <br>


            <h3 align="center">Connect with me:</h3>
            <br>
            <p align="left">

                <a href="https://github.com/sanskar153" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/github.svg" alt="sanskaragrawalla" height="30" width="40" /></a>
                <a href="https://linkedin.com/in/sanskar-agrawalla-b300091b7" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/linkedin.svg" alt="sanskar-agrawalla-b300091b7" height="30" width="40" /></a>
                <a href="https://instagram.com/sanskar_153" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/instagram.svg" alt="sanskar_153" height="30" width="40" /></a>
                <a href="https://www.codechef.com/users/sanskar_153" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/codechef.svg" alt="sanskar_153" height="30" width="40" /></a>
                <a href="https://www.hackerrank.com/sanskaragrawalla" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/hackerrank.svg" alt="sanskaragrawalla" height="30" width="40" /></a>
                <a href="https://www.leetcode.com/sanskar_153" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/leetcode.svg" alt="sanskar_153" height="30" width="40" /></a>
                <a href="https://www.hackerearth.com/@sanskaragrawalla" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/hackerearth.svg" alt="@sanskaragrawalla" height="30" width="40" /></a>
                <a href="https://auth.geeksforgeeks.org/user/sanskaragrawalla/practice/" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/geeksforgeeks.svg" alt="sanskaragrawalla" height="30" width="40" /></a>

                </a>


    </div>
    <%- include('partials/footer') -%>